html {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f5f5f5;
}

.header-blue {
    background-color: #62748E !important;
    border-bottom: 4px solid #536275;
}

.navbar a,
.navbar-brand {
    color: white !important;
    font-weight: 500;
}

    .navbar a:hover {
        color: #dfe6f1 !important;
    }

footer.footer {
    background-color: #62748E;
    margin-top: auto;
    padding: 25px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-img {
    max-width: 160px;
    height: auto;
    opacity: 1;
}

.footer-text {
    flex: 2;
    text-align: center;
    color: #ffffff !important;
}

    .footer-text h6 {
        color: #ffffff !important;
    }

    .footer-text p,
    .footer-text small {
        color: #ffffff !important;
        margin: 0;
    }

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 10px;
    }
}

.page-blue {
    background-color: #62748E;
}

.dashboard-title-box {
    background-color: #62748E;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.20);
}

.dashboard-wrapper {
    border: 10px solid #62748E;
    border-radius: 12px;
    background: white;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.20);
}

table.table {
    background-color: white !important;
}

    table.table tbody tr:not(.table-danger):not(.table-warning) {
        background-color: white;
    }

    }

    table.table thead th {
        background-color: #f8f9fa !important;
        color: black !important;
    }

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
